$oohblue: #004b69;
$headline: #829fb1;
$lightpeach: #fddbc5;
$darkpeach: #fab080;
$footerblue: #9ebbcb;
$eventbg: #dae3e7;

$button: #829fb1;
$buttonfb: #4367b3;

$dark: #1c2527;
$white: #fafaf8;

// from moodboard:
$emerald: #277684;
$lightemerald: #98c1c3;
$lemerald: #98c1c3;
$foam: #d2dbd7;
