@import "colors.scss";
@import "global.scss";
@import "layout.scss";
@import "fonts.scss";

section {
  padding-top: $mobilepaddingtop;
  padding-bottom: $mobilcontenttofooter;
  min-height: 100vh;

  @include breakpoint(desktop) {
    padding-top: $desktoptoptocontent;
    padding-bottom: $spacingcontenttofooterdesktop;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 3fr 5fr;
    column-gap: $gridgap;
    margin-left: $desktoppaddingsides;
    margin-right: $desktoppaddingsides;
  }
}
.sidebar,
article,
h3,
p.content {
  @extend .site-padding;
  @include breakpoint(tablet) {
    margin-left: $tabletpaddingsides;
    margin-right: $tabletpaddingsides;
  }
  @include breakpoint(desktop) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.sidebar {
  margin-bottom: $spacingsections;
  @include breakpoint(desktop) {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    padding-top: $desktopmarginHeader;
  }
}

h1 {
  @extend .font-h1;
  margin-bottom: 15px;
}
.details {
  @extend .font-db-kg1;
  margin-top: -11px;
}
.details h2 {
  border-bottom: 2px solid $darkpeach;
  @extend .font-db-kg1;
}
.details .big {
  @extend .font-db-total;
}
.latest-wrapper {
  @include breakpoint(tablet) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: $spacingelementsdesktop;
  }
}

.latest-wrapper h2 {
  @extend .font-db-kg2;
}
.latest-wrapper .latest-sub {
  @extend .font-db-sub;
  margin-bottom: 0px;
  @include breakpoint(tablet) {
    text-align: left;
  }
}

.latest-wrapper h2 .latest-kg {
  @extend .font-db-latest;
}
.latest {
  @extend .font-db-latest;
  font-size: 29px;
  @include breakpoint(tablet) {
    font-size: 60px;
  }
}

.subtitle {
  @extend .font-h3;
  text-decoration: underline;
  text-decoration-color: $darkpeach;
  @include breakpoint(tablet) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

p.content {
  @extend .font-p;
  margin-bottom: $spacingelements;
  @include breakpoint(tablet) {
    margin-bottom: $spacingelementsdesktop;
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

a.back {
  @extend .font-blog-link;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @include breakpoint(tablet) {
    justify-content: flex-end;
  }
}

a.back::before {
  content: url("../assets/back-button.svg");
  width: 19px;
  height: 19px;
  padding-right: 5px;
}
.counter-wrapper {
  // background-image: url("./assets/affaldsdblink.jpg");
  // background-size: cover;
  // width: 100%;
  // height: 100%;
  position: relative;
  margin-bottom: $spacingelements;
  @include breakpoint(tablet) {
    margin-bottom: $spacingelementsdesktop;
  }
}

.img-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.img-wrapper .imgA {
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0.9;
}

// header:hover img.imgA {
//   opacity: 0 !important;
// }

.counter-wrapper {
  position: relative;
}
article.details {
  position: absolute;
  top: 0;
  left: 0;
  @include breakpoint(tablet) {
    padding: 0px 20px;
  }
}

.data-viz {
  margin-bottom: $spacingelements;
  @include breakpoint(tablet) {
    margin-bottom: $spacingelementsdesktop;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: $spacingelementsdesktop;
  }
}

h3 span.bold-link {
  font-weight: $ra5;
  text-decoration: underline;
  color: $darkpeach;
}

img.img2 {
  @include breakpoint(tablet) {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

.active {
  background-color: $darkpeach !important;
}

.load {
  opacity: 0;
  transition: opacity 1s ease;
}
.visible {
  opacity: 1;
}
