@import "colors.scss";
@import "global.scss";
@import "layout.scss";
@import "fonts.scss";

#event {
  padding-top: $mobilepaddingtop;
  padding-bottom: $mobilcontenttofooter;
  min-height: 100vh;
  @include breakpoint(desktop) {
    padding-top: $desktoptoptocontent;
    padding-bottom: $spacingcontenttofooterdesktop;
    display: grid;
    grid-template-columns: 3fr 5fr;
    column-gap: $gridgap;
    margin-left: $desktoppaddingsides;
    margin-right: $desktoppaddingsides;
  }
}

#event .map iframe {
  width: 100%;
  margin-bottom: $spacingelements;
}
#event .map {
  @include breakpoint(tablet) {
    padding-left: $desktoppaddingsides;
    padding-right: $desktoppaddingsides;
  }
  @include breakpoint(desktop) {
    padding-left: 0px;
    padding-right: 0px;
    grid-row: 3/4;
    grid-column: 2/3;
  }
}

#event img {
  margin-bottom: $spacingelements;
  @include breakpoint(tablet) {
    padding-left: $desktoppaddingsides;
    padding-right: $desktoppaddingsides;
  }
  @include breakpoint(desktop) {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: $spacingelements;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

#event .info {
  @include breakpoint(desktop) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: $spacingelements;
  }
}

#event h1 {
  @extend .site-padding;
  @extend .font-h1;
  border-bottom: 2px solid $lightpeach;
  margin-bottom: $spacingtitletocontent;
  white-space: nowrap;
  @include breakpoint(desktop) {
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.text,
.fb-button,
.details {
  @extend .site-padding;
  margin-bottom: $spacingelements;
  @include breakpoint(desktop) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#event section {
  margin-bottom: $spacingsections;
  @include breakpoint(desktop) {
    margin-bottom: $spacingsectionsdesktop;
  }
}

#event h2 {
  @extend .font-h3;
  @extend .site-padding;
  font-size: 25px;
  margin-bottom: 10px;
  @include breakpoint(desktop) {
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    font-size: 34px;
    margin-bottom: $spacingelements;
  }
}

#event .text {
  @extend .font-p;
  @include breakpoint(desktop) {
    margin-bottom: $spacingelementsdesktop;
  }
}

#event .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  @include breakpoint(desktop) {
    grid-row: 2/3;
    grid-column: 1/2;
    grid-template-columns: 1fr;
    justify-self: end;
  }
}
#event .details .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 18px 0px 0px 18px;
  background-color: $eventbg;
  padding: 10px 10px;
  text-align: center;
  @include breakpoint(desktop) {
    padding: 0px;
    background-color: transparent;
    text-align: right;
  }
}
#event .details .left h3 {
  @extend .font-events-day;
  margin-bottom: 0px;
  @include breakpoint(desktop) {
    margin-bottom: 10px;
  }
}
#event .details .left p.month {
  @extend .font-events-month;
  text-align: center;
  @include breakpoint(desktop) {
    margin-bottom: 5px;
    text-align: right;
  }
}
#event .details .left p.time {
  @extend .font-events-time;
  text-align: center;
  @include breakpoint(desktop) {
    text-align: right;
  }
}

#event .details .right {
  border-radius: 0px 18px 18px 0px;
  background-color: $eventbg;
  padding: 10px 10px;
  @include breakpoint(desktop) {
    padding: 40px 10px;
    background-color: transparent;
    text-align: right;
    padding: 0px;
  }
}

#event .details .right p {
  @extend .font-events-p;
  text-decoration: underline;
  margin-top: 10px;
  @include breakpoint(desktop) {
    margin-bottom: 20px;
  }
}

#event a:hover {
  transform: translateY(2px);
}

#event a.fb-button {
  @extend .font-button;
  width: 50%;
  border-radius: 18px;
  padding: 8px 8px;
  background-color: $button;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $buttonfb;
  @include breakpoint(desktop) {
    padding: 13px 15px;
    transition: transform 0.9s ease;
  }
}
#event a.fb-button:hover {
  text-decoration: none;
}

#event a.fb-button svg {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  @include breakpoint(desktop) {
    width: 20px;
    height: 20px;
  }
}

#event h3 span.bold-link {
  font-weight: $ra5;
  text-decoration: underline;
  color: $darkpeach;
}

.load {
  opacity: 0;
  transition: opacity 1s ease;
}
.visible {
  opacity: 1;
}
