$raleway: "Raleway", sans-serif;

$ra1: 100;
$ra3: 300;
$ra5: 500;
$ra7: 700;
$ra9: 900;
$roboto: "Roboto", sans-serif;
$ro1: 100;
$ro3: 300;
$ro7: 700;
$quicksand: "Quicksand", sans-serif;
$q5: 500;
$q7: 700;

$spacingtitletocontent: 50px;
$spacingelements: 40px;
$spacingesubtitles: 25px;
$spacingsections: 63px;

$spacingsectionsdesktop: 120px;
$spacingelementsdesktop: 55px;
$spacingcontenttofooterdesktop: 220px;

$borderpadding: 15px;
$titletoppaddingdesktop: 100px;

p {
  max-width: 600px;
}

a {
  text-decoration: none;
  color: $emerald;
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: $foam !important;
}

a:active {
  color: $darkpeach;
}

.super-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $oohblue;
}

.font-p {
  @extend .super-font;

  font-family: $roboto;
  font-weight: $ro3;
  font-size: 16px;
  color: $oohblue;

  @include breakpoint(desktop) {
    font-size: 20px;
    line-height: 25px;
  }
}

.font-h1 {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra7;
  font-size: 31px;
  color: $headline;
  border-bottom: 2px solid $lightpeach;
  margin-bottom: $spacingtitletocontent;

  @include breakpoint(desktop) {
    padding-bottom: $borderpadding;
    font-size: 40px;
    text-align: right;
  }
}

.font-h2 {
  @extend .super-font;

  font-family: $raleway;
  font-weight: $ra7;
  font-size: 25px;
  color: $headline;
  margin-bottom: $spacingtitletocontent;
  border-bottom: 2px solid $lightpeach;

  @include breakpoint(desktop) {
    padding-top: $titletoppaddingdesktop;
    padding-bottom: $borderpadding;
    font-size: 37px;
    font-weight: $ra7;
    text-align: right;
  }
}

.font-h3 {
  @extend .super-font;

  font-family: $raleway;
  font-weight: $ra5;
  font-size: 21px;
  color: $headline;
  margin-bottom: $spacingesubtitles;

  @include breakpoint(desktop) {
    text-align: right;
    font-size: 28px;
  }
}

// MOBILE NAV:

.font-mobile-nav {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra3;
  font-size: 22px;
  color: $oohblue;
}

.font-mobile-subnav {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra3;
  font-size: 16px;
}

// DESKTOP NAV:
.font-desk-nav {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra5;
  font-size: 19px;
  color: $oohblue;
}

.font-desk-subnav {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra3;
  font-size: 17px;
  color: $emerald;
}

.font-footer-main {
  @extend .super-font;
  font-family: $quicksand;
  font-weight: $q7;
  font-size: 18px;
  color: $oohblue;

  @include breakpoint(desktop) {
    font-size: 19px;
    line-height: 19px;
    letter-spacing: -0.1px;
  }
}

.font-footer-sub {
  @extend .super-font;
  font-family: $quicksand;
  font-weight: $q7;
  font-size: 19px;

  @include breakpoint(desktop) {
    font-size: 19px;
  }
}

.font-footer-some {
  @extend .font-footer-sub;
  color: $lightpeach;
}

.font-links {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra3;
  font-size: 28px;
  // text-decoration: underline;
  color: $oohblue;
  @include breakpoint(tablet) {
    font-size: 25px;
    font-weight: $ra5;
  }
}

.font-blog-title {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra3;
  font-size: 23px;
  color: $headline;

  @include breakpoint(desktop) {
    font-size: 32px;
  }
}

.font-blog-date {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra3;
  font-size: 17px;
  color: $oohblue;
}

.font-blog-category {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra5;
  font-size: 13px;
  color: $oohblue;

  @include breakpoint(desktop) {
    font-size: 14px;
  }
}

.font-blog-link {
  @extend .super-font;
  font-family: $roboto;
  font-weight: $ro3;
  font-size: 19px;
  color: $emerald;
  text-decoration: underline;

  @include breakpoint(desktop) {
    font-size: 19px;
  }
}

.font-db-total {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra5;
  font-size: 55px;
  color: $oohblue;
  @include breakpoint(desktop) {
    font-size: 85px;
  }
}

.font-db-kg1 {
  @extend .font-db-total;
  font-weight: $ra3;
  font-size: 29px;
  @include breakpoint(desktop) {
    font-size: 50px;
  }
}

.font-db-latest {
  @extend .font-db-total;
  color: $headline;
  @include breakpoint(desktop) {
    font-size: 89px;
  }
}

.font-db-kg2 {
  @extend .font-db-latest;
  font-size: 29px;
  @include breakpoint(desktop) {
    font-size: 47px;
  }
}

.font-db-sub {
  @extend .font-h3;

  @include breakpoint(desktop) {
    font-size: 33px;
  }
}

.font-db-lasttitle {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra5;
  font-size: 29px;
  color: $headline;
  @include breakpoint(desktop) {
    font-size: 39px;
  }
}

.font-events-day {
  @extend .super-font;
  font-family: $roboto;
  font-weight: $ro7;
  font-size: 45px;
  @include breakpoint(desktop) {
    font-size: 56px;
  }
}

.font-events-month {
  @extend .super-font;
  font-family: $raleway;
  font-weight: $ra3;
  font-size: 17px;
  @include breakpoint(desktop) {
    font-size: 27px;
    font-weight: $ra5;
  }
}
.font-events-time {
  @extend .font-events-month;
  font-size: 15px;
  @include breakpoint(desktop) {
    font-size: 24px;
    font-weight: $ra3;
  }
}

.font-events-location {
  @extend .font-events-month;
  font-weight: $ra5;
  @include breakpoint(desktop) {
    font-size: 30px;
  }
}
.font-events-p {
  @extend .super-font;
  font-family: $roboto;
  font-weight: $ro3;
  font-size: 15px;
  @include breakpoint(desktop) {
    font-size: 19px;
  }
}

.font-button {
  @extend .super-font;
  font-family: $roboto;
  font-weight: $ro7;
  font-size: 15px;
  text-align: center;
  color: $white;
  @include breakpoint(desktop) {
    font-size: 21px;
  }
}

.font-button-fb {
  @extend .font-button;
  font-size: 9px;
  @include breakpoint(desktop) {
    font-size: 15px;
  }
}
