footer {
  background-image: url("../assets/wave.svg");
  background-size: cover;
  padding-left: $mobilepaddingsides;
  padding-right: $mobilepaddingsides;
  // background-color: $footerblue;
  padding-top: 130px;
  padding-bottom: 100px;
  @include breakpoint(tablet) {
    padding-left: $tabletpaddingsides;
    padding-right: $tabletpaddingsides;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include breakpoint(desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: $desktoppaddingsides;
    padding-right: $desktoppaddingsides;
    padding-top: $footerpaddingtop;
    padding-bottom: $footerpaddingbottom;
  }
}

footer article {
  padding-bottom: 70px;
  @include breakpoint(tablet) {
    padding-bottom: 0px;
  }
}

footer article > * {
  padding-bottom: 15px;
}

footer :last-child {
  padding-bottom: 0px;
}

footer .contact-info {
  @extend .font-footer-main;
}
footer .email,
footer .phone-number {
  @extend .font-footer-sub;
  padding-left: 15px;
}
footer .email-icon {
  background-image: url("../assets/mail-icon.svg");
  width: 23px;
  height: 23px;
}

footer .phone-icon {
  background-image: url("../assets/phone-icon.svg");
  width: 20px;
  height: 20px;
}

footer .phone-details,
footer .email-details {
  display: flex;
}

footer .footer-some {
  @extend .font-footer-sub;
  display: flex;
  flex-direction: column;
  justify-self: end;
  @include breakpoint(tablet) {
    flex-direction: row;
  }
}
footer .footer-some .footer-icons {
  display: flex;
}
footer .footer-some p {
  color: $lightpeach;
  padding-right: 20px;
}

footer .footer-links {
  display: grid;
  @include breakpoint(desktop) {
    justify-self: center;
  }
}

footer .footer-links a {
  @extend .font-footer-main;
}
footer .footer-links a:hover {
  text-decoration: underline;
}
