* {
  margin: 0 0;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

body {
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  outline: 0;
  border: none;
}

button:active {
  outline: 0;
}

button:focus {
  outline: 0;
}
