@import "colors.scss";
@import "global.scss";
@import "layout.scss";
@import "fonts.scss";

#index .pixi-container {
  display: none;

  @include breakpoint(desktop) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#index .index-logo-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index .index-logo {
  width: 211px;
  height: 223px;
  background-image: url("../assets/newlogo_white.svg");
}

picture {
  @include breakpoint(desktop) {
    display: none;
  }
}
.imgA {
  @include breakpoint(desktop) {
    opacity: 1;
    transition: opacity 2s ease;
  }
}
.img-wrapper {
  display: none;
  @include breakpoint(desktop) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
.imgA,
.imgB {
  grid-column: 1/2;
  grid-row: 1/2;
  box-shadow: none;
}

.fade {
  opacity: 0;
}
