$desktop: 1025px;
$breakpoints: (
  desktop: 1025px,
  tablet: 750px,
);

$mobilepaddingtop: 165px;
$mobilcontenttofooter: 95px;
$mobilefooterpadding: 75px;

$mobilepaddingsides: 24px;
$tabletpaddingsides: 110px;
$desktoppaddingsides: 150px;

$desktoppaddingtop: 85px;
$desktoptoptocontent: 250px;

$footerpaddingtop: 230px;
$footerpaddingbottom: 180px;

$desktopmarginHeader: 200px;

$gridgap: 100px;

@mixin breakpoint($key) {
  @if map-get($breakpoints, $key) {
    @media all and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  } @else {
    @content;
  }
}
* {
  box-sizing: border-box;
}

.site-padding {
  margin-left: $mobilepaddingsides;
  margin-right: $mobilepaddingsides;

  @include breakpoint(tablet) {
    margin-left: $desktoppaddingsides;
    margin-right: $desktoppaddingsides;
  }

  @include breakpoint(desktop) {
    margin-left: $desktoppaddingsides;
    margin-right: $desktoppaddingsides;
  }
}

body {
  // @extend .site-padding;
  background-color: $white;
}

.box-shadow {
  -webkit-box-shadow: 3px 10px 18px -9px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 10px 18px -9px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 10px 18px -9px rgba(0, 0, 0, 0.54);
}

.button {
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 25px;
  min-height: 32px;
  @include breakpoint(desktop) {
    padding: 8px 20px;
    transition: transform 0.9s ease;
  }
}

img {
  @extend .box-shadow;
}
