$desktop: 1025px;
$breakpoints: (
  desktop: 1025px,
  tablet: 750px,
);

$mobilepaddingsides: 24px;
$mobilepaddingtop: 165px;
$mobilcontenttofooter: 95px;
$mobilefooterpadding: 75px;

$desktoppaddingtop: 85px;
$desktoppaddingsides: 260px;
$desktoptoptocontent: 320px;

$footerpaddingtopbottom: 60px;

@mixin breakpoint($key) {
  @if map-get($breakpoints, $key) {
    @media all and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  } @else {
    @content;
  }
}
* {
  box-sizing: border-box;
}

.site-padding {
  margin-left: $mobilepaddingsides;
  margin-right: $mobilepaddingsides;

  @include breakpoint(desktop) {
    margin-left: $desktoppaddingsides;
    margin-right: $desktoppaddingsides;
  }
}

body {
  // @extend .site-padding;
  background-color: $white;
}
