@import "colors.scss";
@import "global.scss";
@import "layout.scss";
@import "fonts.scss";

#om-os {
  padding-top: $mobilepaddingtop;
  min-height: 100vh;
  @include breakpoint(desktop) {
    padding-top: $desktoptoptocontent;
    margin-left: $desktoppaddingsides;
    margin-right: $desktoppaddingsides;
  }
}

h1,
h2,
h3,
section p {
  @extend .site-padding;
  @include breakpoint(desktop) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

strong {
  @include breakpoint(desktop) {
    font-size: 21px;
  }
}

#om-os section {
  margin-bottom: $spacingsections;
  @include breakpoint(desktop) {
    margin-bottom: $spacingsectionsdesktop;
    display: grid;
    grid-template-columns: 3fr 5fr;
    column-gap: $gridgap;
  }
}

#om-os h1 {
  @extend .font-h1;
  border-bottom: 2px solid $lightpeach;
  margin-bottom: $spacingtitletocontent;
  @include breakpoint(desktop) {
    align-self: start;
    padding-top: $desktopmarginHeader;
    margin-bottom: 0px;
  }
}

#om-os article {
  @extend .font-p;
  margin-bottom: $spacingelements;
}

#om-os img {
  margin-bottom: $spacingelements;
  @include breakpoint(desktop) {
    margin-bottom: $spacingelementsdesktop;
  }
}

#om-os h2 {
  @extend .font-h2;
  margin-bottom: $spacingtitletocontent;
  border-bottom: 2px solid $lightpeach;
}

#om-os section.vores-mission article.vores-mission {
  grid-column: 2;
}

#om-os h3 {
  @extend .font-h3;
}

#om-os .hvem-er-vi-container h2.hvem-er-vi-h2 {
  @include breakpoint(desktop) {
    align-self: start;
  }
}
#om-os .hvem-er-vi-container .hvem-er-vi .volunteer {
  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 0px;
  }
}

#om-os .hvem-er-vi-container .hvem-er-vi .volunteer h3 {
  margin-bottom: 15px;
  text-align: center;
  @include breakpoint(desktop) {
    text-align: left;
  }
}
#om-os .hvem-er-vi-container .hvem-er-vi .volunteer .wrapper {
  @include breakpoint(tablet) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

#om-os .hvem-er-vi-container .hvem-er-vi .volunteer img {
  @extend .box-shadow;
  width: 50%;
  margin-top: 30px;
  float: right;
  padding: 5px;
  clip-path: circle();
  shape-outside: circle();
  @include breakpoint(tablet) {
    // width: ;
  }
  @include breakpoint(desktop) {
    margin-top: 0px;
    width: 80%;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

/* VORES AKTIVITETER */

#om-os .vores-aktiviteter .vores-aktiviteter-h2 {
  @include breakpoint(desktop) {
    align-self: start;
  }
}
#om-os .vores-aktiviteter .video-container {
  margin-bottom: $spacingelements;
}

#om-os .vores-aktiviteter img.img-1 {
  @include breakpoint(desktop) {
    grid-column: 2;
  }
}
#om-os .vores-aktiviteter h3.subtitle-3 {
  @include breakpoint(desktop) {
    grid-column: 1;
  }
}

#om-os .vores-aktiviteter img.img-2 {
  @include breakpoint(desktop) {
    grid-column: 2;
  }
}

#om-os .vores-aktiviteter .divider {
  width: 100%;
  border: 2px solid $lightpeach;
  margin-bottom: $spacingelements;
  @include breakpoint(desktop) {
    display: none;
  }
}

#om-os .vores-aktiviteter img.img-3 {
  @include breakpoint(desktop) {
    grid-column: 2;
  }
}

#om-os section.galleri {
  margin-bottom: $mobilcontenttofooter;
  @include breakpoint(desktop) {
    margin-bottom: $spacingcontenttofooterdesktop;
  }
}

#om-os .galleri h2.galleri-h2 {
  @include breakpoint(desktop) {
    align-self: start;
  }
}

#om-os .galleri .img-container {
  width: 100%;
  position: relative;
  text-align: center;
}

#om-os .galleri .img-container img {
  margin-bottom: 0;
}

#om-os .galleri .img-container h3 {
  color: $oohblue;
  position: absolute;
  top: 2%;
  left: 20%;
  text-align: right;
  @include breakpoint(desktop) {
    font-size: 34px;
    top: 12%;
    left: 25%;
    right: 3%;
  }
}

#om-os .galleri .img-container h3 span {
  font-weight: $ra5;
  text-decoration: underline;
}

.load {
  opacity: 0;
  transition: opacity 1s ease;
}
.visible {
  opacity: 1;
}
