@import "colors.scss";
@import "global.scss";
@import "layout.scss";
@import "fonts.scss";
$gridgap: 100px;

body {
  @include breakpoint(desktop) {
    background-image: url("../assets/headerbg4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

section {
  padding-top: $mobilepaddingtop;
  padding-bottom: $mobilcontenttofooter;
  min-height: 100vh;

  @include breakpoint(desktop) {
    padding-top: $desktoptoptocontent;
    padding-bottom: $spacingcontenttofooterdesktop;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 3fr 5fr;
    column-gap: $gridgap;
    margin-left: $desktoppaddingsides;
    margin-right: $desktoppaddingsides;
  }
}
.sidebar,
h3,
article p,
article a {
  @extend .site-padding;
  @include breakpoint(tablet) {
    margin-left: $tabletpaddingsides;
    margin-right: $tabletpaddingsides;
  }
  @include breakpoint(desktop) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.sidebar {
  margin-bottom: $spacingsections;
  @include breakpoint(desktop) {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    padding-top: $desktopmarginHeader;
  }
}

h1 {
  @extend .font-h1;
  margin-bottom: 15px;
}
h3 {
  @extend .font-h3;
}

a.back {
  @extend .font-blog-link;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @include breakpoint(tablet) {
    justify-content: flex-end;
  }
}

a.back::before {
  content: url("../assets/back-button.svg");
  width: 19px;
  height: 19px;
  padding-right: 5px;
}

div.filter {
  @extend .font-blog-link;
  text-decoration: none;
}
div.filter p {
  margin-bottom: 10px;
  @include breakpoint(tablet) {
    text-align: right;
    margin-bottom: 20px;
  }
}
div.buttons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  @include breakpoint(tablet) {
    justify-content: space-around;
    // flex-wrap: wrap;
    // justify-content: flex-end;
  }
}
.filter button:hover {
  transform: translateY(2px);
}

div.filter button {
  @extend .font-button;
  @extend .box-shadow;
  @extend .button;
  background-color: $button;
  text-decoration: none;
  @include breakpoint(tablet) {
    display: flex;
    justify-content: center;
    // padding-top: 0px;
    // padding-bottom: 0px;
  }
}

.blog-posts article {
  margin-bottom: $spacingsections;

  @include breakpoint(tablet) {
    margin-left: $tabletpaddingsides;
    margin-right: $tabletpaddingsides;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: $spacingsectionsdesktop;
  }
  @include breakpoint(desktop) {
    grid-row: 1;
    grid-column: 2/3;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.blog-posts article img {
  @include breakpoint(tablet) {
    grid-row: 1;
    margin-bottom: $spacingelements;
  }
}

.blog-posts article h3 {
  @extend .font-blog-title;
  text-align: left;
  margin-bottom: 10px;
  @include breakpoint(tablet) {
    margin-bottom: 5px;
  }
}

.blog-posts article p.date {
  @extend .font-blog-date;
  margin-bottom: 10px;
}

.blog-posts article .content {
  @extend .font-p;
  margin-bottom: $spacingelements;
}

.blog-posts article a {
  @extend .font-blog-link;
  display: inline-block;
  margin-bottom: $spacingelements;
}

.blog-posts article p.category-con {
  @extend .font-blog-category;
}

h3 span.bold-link {
  font-weight: $ra5;
  text-decoration: underline;
  color: $darkpeach;
}

.active {
  background-color: $darkpeach !important;
}

.load {
  opacity: 0;
  transition: opacity 1s ease;
}
.visible {
  opacity: 1;
}
